<!DOCTYPE html>
<html>
  <head>
    <title>Forbidden</title>
    <style>
      html,body{
        font-family: Consolas, Courier, monospace;
      }
    </style>
  </head>
  <body>
      <h1>Forbidden</h1><br>
      <p>
           444444444         000000000        333333333333333<br>
          4::::::::4       00:::::::::00     3:::::::::::::::33<br>
         4:::::::::4     00:::::::::::::00   3::::::33333::::::3<br>
        4::::44::::4    0:::::::000:::::::0  3333333     3:::::3<br>
       4::::4 4::::4    0::::::0   0::::::0              3:::::3<br>
      4::::4  4::::4    0:::::0     0:::::0              3:::::3<br>
     4::::4   4::::4    0:::::0     0:::::0      33333333:::::3<br>
    4::::444444::::444  0:::::0 000 0:::::0      3:::::::::::3<br>
    4::::::::::::::::4  0:::::0 000 0:::::0      33333333:::::3<br>
    4444444444:::::444  0:::::0     0:::::0              3:::::3<br>
              4::::4    0:::::0     0:::::0              3:::::3<br>
              4::::4    0::::::0   0::::::0              3:::::3<br>
              4::::4    0:::::::000:::::::0  3333333     3:::::3<br>
            44::::::44   00:::::::::::::00   3::::::33333::::::3<br>
            4::::::::4     00:::::::::00     3:::::::::::::::33<br>
            4444444444       000000000        333333333333333<br>
      </p>
  </body>
</html>
