<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <style>
      html,body{
        font-family: Consolas, Courier, monospace;
      }
    </style>
  </head>
  <body>
    <h1>Not Found</h1><br>
      <p>
           444444444         000000000              444444444<br>
          4::::::::4       00:::::::::00           4::::::::4<br>
         4:::::::::4     00:::::::::::::00        4:::::::::4<br>
        4::::44::::4    0:::::::000:::::::0      4::::44::::4<br>
       4::::4 4::::4    0::::::0   0::::::0     4::::4 4::::4<br>
      4::::4  4::::4    0:::::0     0:::::0    4::::4  4::::4<br>
     4::::4   4::::4    0:::::0     0:::::0   4::::4   4::::4<br>
    4::::444444::::444  0:::::0 000 0:::::0  4::::444444::::444<br>
    4::::::::::::::::4  0:::::0 000 0:::::0  4::::::::::::::::4<br>
    4444444444:::::444  0:::::0     0:::::0  4444444444:::::444<br>
              4::::4    0:::::0     0:::::0            4::::4<br>
              4::::4    0::::::0   0::::::0            4::::4<br>
              4::::4    0:::::::000:::::::0            4::::4<br>
            44::::::44   00:::::::::::::00           44::::::44<br>
            4::::::::4     00:::::::::00             4::::::::4<br>
            4444444444       000000000               4444444444<br>
      </p>
  </body>
</html>
