<ul class="uk-tab" data-uk-tab data-uk-switcher="{connect:'#tabsContent'}">
    <li><a href="javascript:void(0);">Linodes</a></li>
    <li><a href="javascript:void(0);">NodeBalancers</a></li>
    <li><a href="javascript:void(0);">StackScripts</a></li>
    <li><a href="javascript:void(0);">DNS</a></li>
    <li><a href="javascript:void(0);">Account</a></li>
    <li><a href="javascript:void(0);">Utility</a></li>
    <li class="uk-disabled"><a href="">State: <span id="state"></span></a></li>
</ul>

<ul id="tabsContent" class="uk-switcher">
    <li class="uk-flex-inline">
        <div id="linodesTree"></div>
        <div id="linodes" class=""></div>
    </li>
    <li id="NodeBalancers">NodeBalancers</li>
    <li id="StackScripts">StackScripts</li>
    <li id="DNS">DNS</li>
    <li id="Account">Account</li>
    <li id="Utility">Utility</li>
</ul>
<script type="text/javascript">$(Main);</script>