<!DOCTYPE html>
<html>
  <head>
    <title>Linode manager</title>
    <meta charset="utf-8">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jstree.min.css">
    <link rel="stylesheet" href="/styles/notify.almost-flat.min.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/uikit.min.js"></script>
    <script src="/js/dependencies/jstree.min.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/notify.min.js"></script>
    <script src="/js/dependencies/reqs.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/api.js"></script>
    <script src="/js/dom.js"></script>
    <script src="/js/items-temp.js"></script>
    <script src="/js/jstree-bem.js"></script>
    <script src="/js/linodes-temp.js"></script>
    <script src="/js/linodes.js"></script>
    <script src="/js/tools.js"></script>
    <script src="/js/tree.js"></script>
    <script src="/js/ws.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
