<div class="content" id="loginContent">
    <div id="loginForm">
        <div>
            <i class="fa fa-fw fa-3x fa-sign-in"></i>
        </div>
        <div>
            Wrong user name or password
        </div>
        <a href="/" class="uk-button">
            Back
        </a>
    </div>
</div>